.font-face(@font-family,@font-file){
    font-family: @font-family;
    src: url('@{fonts}@{font-file}.eot');
    src: url('@{fonts}@{font-file}.eot?#iefix') format('embedded-opentype'),
         url('@{fonts}@{font-file}.woff2') format('woff2'),
         url('@{fonts}@{font-file}.woff') format('woff'),
         url('@{fonts}@{font-file}.ttf') format('truetype'),
         url('@{fonts}@{font-file}.svg#{font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    .font-face('billabong', 'billabong');
}