/*
    Document   : lazyload.less
    Created on : 31/07/2015
    Author     : Ralf da Rocha
    Description: Estilos do plugin lazyload
*/
.lazyload{
    .block();
    .relative();
    vertical-align: middle;
    text-align: center;
    .lazyload-image{
        .iblock(middle);
        .opacity(1);
        .relative();
        .transition(opacity 0.5s cubic-bezier(.69,.69,.39,.99));
        z-index: 2;
    }
    img.lazyload-image{
        width: 100%;
    }
    div.lazyload-image{
        background-position: 50% 50%;
        .background-size(cover);
        .dim(100%,100%);
    }
    &:after{

        /** Preloader com Font-Awesome (default | comente para usar GIF personalizado) **/
        // content: @fa-var-refresh ;
        .animation(fa-spin 2s infinite linear);
        .animation-play-state(paused);
        // font: normal normal normal @fa-font-size-base/1 FontAwesome;
        /** ------- **/

        /** Preloader com Gif (descomente para usar) **/
        content: url('@{img}preloader.gif');
        /** ------- **/

        .fsize(15px);
        .opacity(0);
        .postl(50%,50%);
        .translate(-50%,-50%);
        .transition(opacity 0.3s cubic-bezier(.69,.69,.39,.99));
        z-index: 1;
    }
    &.loading{
        .lazyload-image{
            .opacity(0);
        }
        &:after{
            .opacity(1);
            /** Preloader com Font-Awesome (default | comente para usar GIF personalizado) **/
            .animation-play-state(running);
            /** ------- **/
        }
    }
}