/*
    Document   : reset.css
    Created on : 09/12/2011, 09:07:00
    Author     : Jonas
    Description: Purpose of the stylesheet follows.
*/
@import "_mixins.less";
@import "_variables.less";
*{
    margin: 0;
    padding: 0;
    background-position:0 0;
    .box-sizing(border-box);
    &::selection, &::moz-selection, &::webkit-selection{
        color: #FFF;
    }
}
html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}
body{
    .fsize(15px);
    // min-height: 925px;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #fff;
    color: @default-color;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
}

#wrapper {
    width: 100%;
    max-width: unset;
    overflow-x: hidden;
}

.common-limiter{
    .limiter(1024px);
    margin: auto;
    padding: 0 1rem;
    min-width: unset;
    position: relative;
    z-index: 2;
    @media (max-width: 959px){
        padding: 0 2rem;
    }
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
input, textarea {
    box-shadow:none;
    border: 0 none;
    resize: none;
    background-color: transparent;
}
input,select,textarea{ .arial(); }
input[type=text]::-ms-clear, input[type=password]::-ms-clear, input[type=email]::-ms-clear { display: none; }
input:focus, textarea:focus,select:focus,button:focus { outline: none; }
::-webkit-input-placeholder { color: @default-color }
:-moz-placeholder { color: @default-color }
::-moz-placeholder { color: @default-color }
:-ms-input-placeholder { color: @default-color }
textarea{ resize:none; } // none|both|vertical|horizontal
img{ border: 0; }
i{ .italic(); }
h1, h2, h3, h4, h5, h6 {
    float: none;
    margin: 0px;
    padding: 0px;
    font-weight: inherit;
    font-size: inherit;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
    background-color: #000000;
}
::-webkit-scrollbar-thumb {
    background-color: #464646;
    border-radius: 4px;
}