///////////////////////////////////
/////////// ATALHOS ///////////////
///////////////////////////////////
.absolute(){position:absolute;}
.arial(){font-family:Arial, Helvetica, sans-serif;}
.block(){display: block;}
.bgpos(@xy: top center){background-position: @xy};
.bold(){font-weight:bolder;}
.clr(){&:after {content:" ";.block;clear:both;}}
.dim(@width: auto, @height: auto){height: @height;width: @width;}
.fixed(){position:fixed;}
.fleft(){float:left;}
.fright(){float:right;}
.invisible(){display:none}
.iblock(){display: inline-block;vertical-align: top;}
.italic(){font-style:italic;}
.lower(){text-transform:lowercase;}
.limiter(){width: @min-width; margin: 0 auto; }
.nofocus(){&:focus { outline: none;}}
.norepeat(){background-repeat: no-repeat;}
.normal(){font-style:normal; font-weight:normal;}
.notext(){text-indent: -9999px;font-size: 0;line-height: 0;}
.pie(){ behavior: url(./application/modules/comum/assets/htc/pie.htc); zoom:1; }
.place(@color){
    &::-webkit-input-placeholder {
        color: @color;
    }
    &:-moz-placeholder {
        color: @color;
        opacity: 1;
    }
    &::-moz-placeholder {
        color: @color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: @color;
    }
}
.pointer(){cursor:pointer;}
.postl(@top,@left){.absolute;top:@top;left:@left;}
.postr(@top,@right){.absolute;top:@top;right:@right;}
.posbl(@bottom,@left){.absolute;bottom:@bottom;left:@left;}
.posbr(@bottom,@right){.absolute;bottom:@bottom;right:@right;}
.relative(){position:relative;}
.repeat(){background-repeat: repeat;}
.tshadow(@color: #000){text-shadow: 0 1px 1px @color;}
.upper(){text-transform:uppercase;}
.visible(){display:block}
///////////////////////////////////
///////////// FONTS ///////////////
///////////////////////////////////
.font-glyphicon(){ font-family: 'glyphicons-halflings-regular'; }
.font-regular(){ font-family: 'ArialNarrowRegular'; }
.font-bold(){ font-family: 'ArialNarrowBold'; }
.font-bold-italic(){ font-family: 'ArialNarrowBoldItalic'; }
.font-italic(){ font-family: 'ArialNarrowItalic'; }
///////////////////////////////////
/////////// COLORS ////////////////
///////////////////////////////////
.default(){ background-color: @default-bgcolor; }
.danger(){ background-color: @danger-bgcolor; }
.info(){ background-color: @info-bgcolor; }
.primary(){ background-color: @primary-bgcolor; }
.success(){ background-color: @success-bgcolor; }
.warning(){ background-color: @warning-bgcolor; }
///////////////////////////////////
/////////// MIXINS ////////////////
///////////////////////////////////
.background-clip(@argument: padding-box) {
    -moz-background-clip: @argument;
    -webkit-background-clip: @argument;
    background-clip: @argument;
}
.border-radius(@width:50%){
    -webkit-border-radius: @width;
    -moz-border-radius: @width;
    border-radius: @width;
    .pie();
}
.box-shadow(@arguments) {
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    box-shadow: @arguments;
    .pie();
}
.box-sizing(@sizing: border-box) {
    -ms-box-sizing: @sizing;
    -moz-box-sizing: @sizing;
    -webkit-box-sizing: @sizing;
    box-sizing: @sizing;
}
.drop-shadow(...) {
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    box-shadow: @arguments;
    .pie();
}
.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
    background: @color;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, @start), color-stop(1, @stop));
    background: -ms-linear-gradient(bottom, @start, @stop);
    background: -moz-linear-gradient(center bottom, @start 0%, @stop 100%);
    background: -o-linear-gradient(@stop, @start);
    -pie-background: linear-gradient( @stop, @start);
    .pie();
}
.inner-shadow(@horizontal:0, @vertical:1px, @blur:2px, @spread: 0, @alpha: 0.4) {
    -webkit-box-shadow: inset @horizontal @vertical @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow: inset @horizontal @vertical @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow: inset @horizontal @vertical @blur @spread rgba(0, 0, 0, @alpha);
}
.opacity(@opacity: 0.5) {
    -webkit-opacity: @opacity;
    -khtml-opacity: @opacity;
    -moz-opacity: @opacity;
    opacity: @opacity;
    @opperc: @opacity * 100;
    -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
    filter: ~"alpha(opacity=@{opperc})";
}
.rgba(@alpha:0.5,@red:0,@green:0,@blue:0){
    background-color: rgb(@red, @green, @blue);
    background-color: rgba(@red, @green, @blue, @alpha);
    -pie-background: rgba(@red, @green, @blue, @alpha);
    .pie();
}
.rotate(@deg:90deg){
    .rotateZ(@deg);
}
.rotateX(@deg:90deg){
    .transform(rotateX(@deg));
}
.rotateY(@deg:90deg){
    .transform(rotateY(@deg));
}
.rotateZ(@deg:90deg){
    .transform(rotateZ(@deg));
}
.scale(@ratio:1.5){
    .transform(scale(@ratio));
}
.tab-focus(){
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.transform(...) {
    -webkit-transform: @arguments;
    -moz-transform: @arguments;
    -o-transform: @arguments;
    -ms-transform: @arguments;
    transform: @arguments;
}
.transition(@property: all, @duration:0.2s, @ease:ease-in-out) {
    -webkit-transition: @property @duration @ease;
    -moz-transition: @property @duration @ease;
    -o-transition: @property @duration @ease;
    transition: @property @duration @ease;
}
.multi-transition (...){
    @props: ~`"@{arguments}".replace(/[\[\]]/g, '')`;
    -webkit-transition: @props;
    -moz-transition: @props;
    -o-transition: @props;
    transition: @props;
}
.transition-delay(@delay){
    -webkit-transition-delay: @delay;
    -moz-transition-delay: @delay;
    -o-transition-delay: @delay;
    transition-delay: @delay;
}
.translate(@x:0, @y:0) {
    .transform(translate(@x, @y));
}
.user-select(@argument: none) {
    -webkit-user-select: @argument;
    -moz-user-select: @argument;
    -ms-user-select: @argument;
    -o-user-select: @argument;
    user-select: @argument;
}