//Cofigura as fonte
@font-size-small: 10px;
@font-size-normal: 12px;
@font-size-medium: 14px;

//Define tamanhos
@min-width: 960px;
@max-width: 2000px;
@full-width: 1920px;

//Controla cores
@default-color: #656060;
@default-bgcolor: #999999;
@primary-bgcolor: #5BC0DE;
@success-bgcolor: #5CB85C;
@info-bgcolor: #9BC0DE;
@warning-bgcolor: #F0AD4E;
@danger-bgcolor: #B94A48;
@gold-color: #9c8811;

//Grid
@gutter: 15px;
@top: @gutter;

//Eases
//Ease-in
@i-sine: cubic-bezier(.47,0,.74,.71);
@i-quadradic: cubic-bezier(.55,.09,.68,.53);
@i-cubic: cubic-bezier(.55,.06,.68,.19);
@i-quadratic: cubic-bezier(.9,.03,.69,.22);
@i-cubic: cubic-bezier(.76,.05,.86,.06);
@i-exponential: cubic-bezier(.95,.05,.8,.04);
@i-circular: cubic-bezier(.6,.04,.98,.34);
@i-backward: cubic-bezier(.6,-0.28,.74,.05);
//Ease-out
@o-sine: cubic-bezier(.39,.58,.57,1);
@o-quadradic: cubic-bezier(.25,.46,.45,.94);
@o-cubic: cubic-bezier(.22,.61,.36,1);
@o-quadratic: cubic-bezier(.17,.84,.44,1);
@o-cubic: cubic-bezier(.22,.61,.36,1);
@o-exponential: cubic-bezier(.19,1,.22,1);
@o-circular: cubic-bezier(.08,.82,.17,1);
@o-backward: cubic-bezier(.18,.89,.32,1.28);
//Ease-in-out
@io-sine: cubic-bezier(.45,.05,.55,.95);
@io-quadradic: cubic-bezier(.46,.03,.52,.96);
@io-cubic: cubic-bezier(.65,.05,.36,1);
@io-quadratic: cubic-bezier(.46,.03,.52,.96);
@io-cubic: cubic-bezier(.65,.05,.36,1);
@io-exponential: cubic-bezier(1,0,0,1);
@io-circular: cubic-bezier(.79,.14,.15,.86);
@io-backward: cubic-bezier(.68,-0.55,.27,1.55);

// Paths
@img: "../../../comum/assets/img/";
@css: "../../../comum/assets/css/";
@fonts: "../../../comum/assets/css/fontes/";
@svg: "../../../comum/assets/svg/";

@import '_mixins.less';
@import '_lesshat.less';
@import '_lazyload.less';