@import "_reset.less";
@import "_variables.less";
@import '_fontes.less';

#header{
    .dim(100%);
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    z-index: 999;
    .box-shadow(0px, -55px, 100px #000);
    #logo{
        display: table;
        margin: auto;
    }
}

#rodape{
    background: #e41d25;
    padding: 15px 0px;
    text-align: center;
    margin-top: 50px;
    color: #fff;
}