@import "../../../comum/assets/css/_variables.less";
@import "../../../comum/assets/css/_reset.less";

#list{
    margin-top: 70px;
    .common-limiter{
        .box-shadow(0px, 0px, 10px fade(#000, 45%));
        .border-radius(10px);
        background-color: #eae7e7;
        padding: 15px;
        h1{
            .fsize(30px);
            font-family: 'Ubuntu';
            color: #464646;
            display: table;
            margin: 15px auto;
            text-transform: uppercase;
            border-bottom: 2px dashed #464646
        }
        .middle{
            .dim(100%, 100%);
            .row{
                .dim(100%);
                .fsize(0);
                .flex-wrap(wrap);
                .display(inline-flex);
                border-bottom: dashed 1px #464646;
                padding-bottom: 15px;
                margin: 15px auto;
                .col{
                    .dim(calc(~'(100% / 5) - 10px'));
                    .fsize(18px);
                    color: #464646;
                    margin: auto 5px;
                    .btn-action{
                        .fsize(12px);
                        .border-radius(5px);
                        .pointer();
                        border: none;
                        padding: 10px;
                        background-color: #e41d25;
                        color: #fff;
                        display: table;
                        margin: auto;
                        &:disabled{
                            background-color: fade(#e41d25, 45%);
                            cursor: no-drop;
                        }
                    }
                }
            }
        }
    }
}